[Unit]
Description=Plex Media Server

[Container]
ContainerName=plex
Image=docker.io/plexinc/pms-docker:latest
Network=medianet.network
PublishPort=32400:32400
Volume=/mnt/storage/media/appdata/plex:/config
Volume=/mnt/storage/media:/data
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Asia/Singapore
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
