[Unit]
Description=Sonarr TV show automation

[Container]
ContainerName=sonarr
Image=docker.io/linuxserver/sonarr:latest
Network=medianet.network
PublishPort=8989:8989
Volume=/mnt/storage/media/appdata/sonarr:/config
Volume=/mnt/storage/media:/data
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Asia/Singapore
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
